book-ocr
data/input/img48.jpg
data/input/img49.jpg
data/input/img50.jpg
data/input/img51.jpg
data/input/img52.jpg
data/input/img53.jpg
data/input/img54.jpg
data/input/img55.jpg
data/input/img56.jpg
data/input/img57.jpg
data/input/img58.jpg
data/input/img59.jpg
data/input/img60.jpg
data/input/img61.jpg
data/input/img62.jpg

data/processed/img48.jpg
data/processed/img49.jpg
data/processed/img50.jpg
data/processed/img51.jpg
data/processed/img52.jpg
data/processed/img53.jpg
data/processed/img54.jpg
data/processed/img55.jpg
data/processed/img56.jpg
data/processed/img57.jpg
data/processed/img58.jpg
data/processed/img59.jpg
data/processed/img60.jpg
data/processed/img61.jpg
data/processed/img62.jpg

data/output/batch_results_20260107_192019.json



